/* music ———————————————————————————————————— */
#exampleMusic {
  user-select: none;
}
#exampleMusic .song {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#exampleMusic .song .title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-highlight);
  font-weight: 500;
}
#exampleMusic .clearSong,
#exampleMusic .play {
  height: 2.5rem;
  width: 3rem;
  background: var(--color-bg-light);
  cursor: pointer;
  margin: 0 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-bg);
  border-radius: var(--border-radius-big);
  box-shadow: var(--shadow);
}
#exampleMusic .play {
  margin-left: 2rem;
}
#exampleMusic .clearSong:active,
#exampleMusic .play:active {
  background: var(--color-bg-light);
}
#exampleMusic .notes {
  height: 180px;
  padding: 20px 0;
  display: flex;
  align-items: flex-end;
  transition: opacity 0.5s;
}
#exampleMusic .notes.isError {
  opacity: 0;
}
#exampleMusic .notes .note {
  --noteSize: 40px;
  width: var(--noteSize);
  height: var(--noteSize);
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-yellow);
  color: var(--color-black);

  transition: box-shadow 0.2s;

  margin: 0 calc( 12.5% / 2 - var(--noteSize)/2 );
}
#exampleMusic .notes .note.isPlayed {
  box-shadow: 0 0 20px var(--color-yellow);
}
#exampleMusic .notes .note.a {
  margin-bottom: 20px;
}
#exampleMusic .notes .note.a.isPlayed {
  box-shadow: 0 0 20px var(--color-highlight);
}
#exampleMusic .notes .note.l {
  margin-bottom: 80px;
}
#exampleMusic .notes .note.r {
  margin-bottom: 60px;
}
#exampleMusic .notes .note.u {
  margin-bottom: 100px;
}
#exampleMusic .notes .note.d {
  margin-bottom: 40px;
}

#exampleMusic .noteLines {
  height: 180px;
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  width: 100%;
}
#exampleMusic .noteLines .line {
  width: 100%;
  height: 1px;
  background: var(--color-bg-light);
}

#exampleMusic .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}
#exampleMusic .noteBtn {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-yellow);
  cursor: pointer;
  border-radius: 1000px;
  color: var(--color-black);

  box-shadow: var(--shadow);
}
#exampleMusic .noteBtn:active {
  background: var(--color-yellow-dark);
}
#exampleMusic .notes .note.a,
#exampleMusic .noteBtn.a {
  background: var(--color-highlight);
  color: var(--color-white);
}
#exampleMusic .noteBtn.a:active {
  background: var(--color-highlight-dark);
}

.zeldaSpoiler .spoilerInfo table {
  width: 100%;
}
.zeldaSpoiler .spoilerInfo table td {
  border-bottom: solid 1px var(--color-bg-light);
  width: 50%;
}
.zeldaSpoiler .spoilerInfo table tr:last-child td {
  border-bottom: none;
}

.zeldaSpoilerNote {
  color: var(--color-yellow-dark);
}
.zeldaSpoilerNote.a {
  color: var(--color-highlight);
}

