
/* Morse Code ————————————————————————————————————— */

#exampleMorse {
  user-select: none;
}
#exampleMorse .inputLetter {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#exampleMorse .inputLetter .letter {
  outline: 0;
  appearance:  none;
  border: none;
  color: var(--color-font);
  font-family: var(--font-family);
  font-weight: 500;
  padding: 0.2em 0.5em;
  width: 50%;
  min-width: 100px;
  border-radius: 0;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;

  background: var(--color-bg);
  border-radius: 6px;
  box-shadow: var(--shadow);
}
#exampleMorse .morseCode {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#exampleMorse .letter.isDissolving {
  color: transparent;
}
#exampleMorse .morseCode.isDissolving {
  opacity: 0;
}
#exampleMorse .morseButtonVis,
#exampleMorse .morseCode .morseSignal {
  background: var(--color-gray-med);
  height: 12px;
  width: 12px;
  margin: 0 10px;
  border-radius: 20px;
}
#exampleMorse .long .morseButtonVis,
#exampleMorse .morseCode .morseSignal.l {
  width: 80px;
}

#exampleMorse .input {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

#exampleMorse .morseButton {
  cursor: pointer;
  width: 30%;
  background: var(--color-highlight);
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 4px;
  color: var(--color-white);
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}
#exampleMorse .morseButton:active {
  background: var(--color-highlight-dark);
}

#exampleMorse .morseButtonVis {
  background: var(--color-white);
  margin: 0;
}


.morseSpoiler .spoilerInfo {
  column-count: 3;
}
.morseSpoiler .spoilerInfo td:first-child {
  color: var(--color-highlight);
}

.morseSpoiler .spoilerInfo td:last-child {
  letter-spacing: 0.2em;
}

@media only screen and (max-width: 450px) {

  .morseSpoiler .spoilerInfo {
    column-count: 2;
  }
}
