
/* Morse Code ————————————————————————————————————— */

#exampleMorse {
  user-select: none;
}
#exampleMorse .inputLetter {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#exampleMorse .inputLetter .letter {
  outline: 0;
  appearance:  none;
  border: none;
  color: var(--color-font);
  font-family: var(--font-family);
  padding: 0.2em 0.5em;
  width: 50%;
  min-width: 100px;
  border-radius: 0;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
#exampleMorse .morseCode {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#exampleMorse .letter.isDissolving {
  color: transparent;
}
#exampleMorse .morseCode.isDissolving {
  opacity: 0;
}
#exampleMorse .morseCode .morseSignal {
  background: var(--color-black);
  height: 14px;
  width: 14px;
  margin: 0 10px;
  border-radius: 20px;
}
#exampleMorse .morseCode .morseSignal.l {
  width: 80px;
}

#exampleMorse .input {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#exampleMorse .morseButton {
  cursor: pointer;
  width: 30%;
  background: #CCC;
  text-align: center;
  padding: 0.5rem 1rem;
}
#exampleMorse .morseButton:active {
  background: #BBB;
}


/* Binary ———————————————————————————————————————— */
#exampleBinaryletters,
.exampleBase {
  user-select: none;
}
#exampleBinaryletters .binaryVal,
.exampleBase .binaryVal {
  display: flex;
  height: 30%;
  align-items: center;
}
#exampleBinaryletters .binaryVal .binaryDigit,
.exampleBase .binaryVal .binaryDigit {
  font-size: 3rem;
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.exampleBase .baseValues {
  display: flex;
  height: 20%;
}
.exampleBase .baseValues .baseVal {
  flex: 1;
  text-align: center;
}
#exampleBinaryletters .input,
.exampleBase .input {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#exampleBinaryletters .input .letter,
.exampleBase .input .number {
  outline: 0;
  appearance:  none;
  border: none;
  color: var(--color-font);
  font-family: var(--font-family);
  padding: 0.2em 0.5em;
  width: 50%;
  min-width: 100px;
  font-size: 3rem;
  /*margin-left: 1rem;*/
  border-radius: 0;
  text-align: right;
}
#exampleBinaryletters .input .letter {
  text-align: left;
}

/* Traffic Light ———————————————————————————————————— */
#exampleTrafficLight {
  display: flex;
}
#exampleTrafficLight .trafficLightContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#exampleTrafficLight .trafficLight {
  padding: 10px;
  background: #333;
}
#exampleTrafficLight .trafficLight .light {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  background: #FFF;
  margin: 10px;
  cursor: pointer;
}
#exampleTrafficLight .trafficLight .light.redLight {
  background: #e74c3c;
  box-shadow: 0px 0px 10px #e74c3c;
}
#exampleTrafficLight .trafficLight .light.greenLight {
  background: #2ecc71;
  box-shadow: 0px 0px 10px #2ecc71;
}
#exampleTrafficLight .trafficLight .light.isOff {
  background: #444 !important;
  box-shadow: none;
}
#exampleTrafficLight .street {
  overflow: hidden;
  flex: 1;
}
#exampleTrafficLight .street .car {

  position: absolute;
  left: 50%;
  height: 100px;
  width: 50px;
  background: #333;
  transform: translateX(-50%);

  animation-name: carDriving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes carDriving {
  from {top:  100%}
  to {top: calc( 0% - 100px )}
}
#exampleTrafficLight .street .car.isStopped {

  animation-play-state: paused;
}



