/* Binary Letters ———————————————————————————————————————— */

#exampleBinaryletters .binaryVal {
  margin-top: 5%;
}

#exampleBinaryletters .input .letter {
  text-align: center;

  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  height: auto;

}

