* {
  position: relative;
  box-sizing: border-box;
}

::selection {
  color: var(--color-highlight);
  background: #0002;
}

html, body {
  font-family: var(--font-family);

  color: var(--color-font);
  background: var(--color-bg);

  font-size: 18px;
  line-height: 1.8;
}

a {
  color: var(--color-highlight);
}
a:hover {
  text-decoration: none;
}

b {
  font-weight: 600;
}

code {
  font-family: var(--font-family-mono);
  background: var(--color-bg-light);
  display: inline-block;
  padding: 0em 0.2em;
  border-radius: 2px;
  color: var(--color-highlight);
  line-height: 1.3;
}
code.codeBlock {
  display: block;
  text-align: center;
  padding: 0.6em 0.2em;
  margin: 1rem 0;
  border-radius: 6px;
  background: var(--interaction-background);
  word-spacing: -0.4em;
}
.unit {
  font-family: var(--font-family-mono);
  color: var(--color-highlight);
}
.unit:before {
  content: '[';
}
.unit:after {
  content: ']';
}

blockquote {
  margin: 2rem 0;
  padding-left: 1rem;
  font-size: 1.2em;
}
blockquote:before {
  content: "";
  position: absolute;
  top: 0.4em;
  left: 0;
  bottom: 0.4em;
  width: 2px;
  background: var(--color-bg-light);
}
blockquote .quoteSource {
  display: block;
  font-size: 0.8rem;
  opacity: 0.5;
  font-style: italic;
}


table {
  border-collapse: collapse;
  margin: 2rem auto;
}
tr {

}
td,
th {
  padding: 0.2em 0.5em;
  min-width: 4rem;
  border: 1px solid var(--color-bg-light);
  text-align: right;
}
th {
  font-weight: 600;
  border-bottom-color: var(--color-font-med);
}

/* Grid Display */

#gridDisplay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000000;
  opacity: 0.4;
  mix-blend-mode: multiply;
}
#gridDisplay.hide {
  display: none;
}
#gridDisplay .gridColumn {
  border-left: solid 1px var(--color-highlight);
  border-right: solid 1px var(--color-highlight);
  height: 100%;
}

#gridDisplay .textColumn {
  max-width: var(--max-width-text);
  margin: 0 auto;
  transform: translateX( calc( var(--marginal-column-width) / -2 + var(--marginal-column-margin) / -2 ) );
}
#gridDisplay .marginalColumn {
  top: 0;
  position: absolute;
  left: calc( 50vw + var(--max-width) / 2 - var(--marginal-column-width) );
  width: var(--marginal-column-width);
}
#gridDisplay .maxWidthColumn {
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: var(--max-width);
  border-left: solid 1px var(--color-red);
  border-right: solid 1px var(--color-red);
}


/* Navigation */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: opacity 0.5s;

  /*max-width: calc( 50vw - var(--max-width) / 2 );*/

  pointer-events: none;
  mix-blend-mode: multiply;
}
nav.isHidden {
  opacity: 0;
}
nav.isHidden li a {
  pointer-events: none;
}

nav li {
  margin: 0;
  padding: 0;
}
nav li.isCurrent {
  font-weight: bold;
}
nav li.isPast {
  opacity: 0.3;
}
nav li a {
  display: inline-block;
  font-size: 13px;
  padding: 4px 0;

  color: transparent;
  transition: color 0.3s;
  text-decoration: none;

  pointer-events: initial;
}
nav:hover li a {
  color: var(--color-font);
}
nav li:hover {
  opacity: 1;
}
nav li a:hover {
  color: var(--color-highlight);
}
nav li a:hover:before  {
  background: var(--color-highlight);
}
nav li a:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  vertical-align: 3px;
  background: var(--color-bg-light);
  transition: background 0.3s;
  margin-right: 3px;
}
nav li.isCurrent a:before {
  background: var(--color-highlight);
}

nav li.H2 {
  text-transform: uppercase;
}
nav li.H3 a:before {
  width: 20px;
}

/* ————————————— */

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h3 {
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: .5rem;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 1em;
}
p {
  margin-bottom: 1rem;
}

#wrapper {

}

header,
section,
footer {
  width: 100%;
  padding: 3rem 1rem;
}

header {
  background: var(--color-highlight);
  color: var(--color-white);
}
header .inner {
  max-width: var(--max-width);
  margin: 0 auto;
}

footer {
  background: var(--interaction-background);
  color: var(--color-font-footer);
  font-size: 13px;
}
footer .footerWrapper {
  display: flex;
  margin: 0 auto;
  max-width: var(--max-width);
}
footer .content {
  max-width: var(--max-width-text);
  flex-shrink: 0;
}
footer .additionalContent {
  max-width: var(--marginal-column-width);
  flex-shrink: 0;
  margin-left: auto;
}

footer a {
  color: inherit;
}

#sourceList {
  list-style: decimal-leading-zero;
  padding-left: 2.5em;
}
#sourceList li {
  margin-bottom: 0.5em;
}
#sourceList li::marker {
  font-family: var(--font-family-mono);
}

#toggleGrid {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}
#toggleGrid:hover {
  text-decoration: none;
}

#aboutList li {
  margin-bottom: 0.4em;
}

section .content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-right: calc( var(--marginal-column-width) + var(--marginal-column-margin) );
}

.sectionHeaderImg {
  display: block;
  width: 100%;
  max-width: var(--max-width-text);
  margin: 1rem 0;
}


.interaction-placeholder {
  height: 400px;
  margin: 3rem auto 1rem auto;
  background: var(--interaction-background);
  border-radius: 10px;
  overflow: hidden;
}
.interactionDescription {
  color: var(--color-font-light);
  font-size: 15px;
}
.interactionDescription a {
  color: inherit;
}
.interactionDescription + p {
  margin-top: 1rem;
}

/* Footnotes  */

.footnotes {
  position: absolute;
  top: 0;
  height: 100%;
  left: calc( 50vw + var(--max-width) / 2 - var(--marginal-column-width) );
  width: var(--marginal-column-width);
  padding: 0;
}

sup,
sup a {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.footnotes ol {
  list-style: decimal;
  /*padding-left: 1.5em;*/
}
.footnotes ol li {
  padding-top: 3px;
  font-size: 13px;
  color: var(--color-font-med);
  transition: color 0.3s;
  position: absolute;
 /* word-break: break-all;*/
}
.footnotes ol li::marker {
  color: var(--color-highlight);
}
.footnotes ol li a {
  color: inherit;
  transition: color 0.3s;
}
.footnotes ol li:hover,
.footnotes ol li.isHovering {
  color: var(--color-font);
}
.footnotes ol li:hover a,
.footnotes ol li.isHovering a {
  color: var(--color-highlight);
}
.footnotes .footnoteBacklink {
  display: none;
  color: var(--color-highlight) !important;
  font-weight: bold;
  text-decoration: none;
}

.spoiler {

}
.spoilerDesc {
  cursor: pointer;
  padding-left: 1.5rem;
  color: var(--color-font-med);
  user-select: none;
}
.spoilerDesc:before {
  content: '‣';
  color: var(--color-font-med);
  position: absolute;
  left: 0;
  top: -0.45em;
  font-size: 2em;
}
.spoilerInfo {
  background: var(--interaction-background);
  padding: 0.5rem;
  border-radius: 4px;
  margin-left: 1.5rem;
  display: none;
}

.spoiler.isOpen .spoilerDesc:before {
  transform: rotate(90deg);
}

.spoiler.isOpen .spoilerInfo {
  display: block;
}

.spoilerInfo table {
  margin: 0;
}
.spoilerInfo table td,
.spoilerInfo table th {
  border: none;
  min-width: 1rem;
  text-align: left;
}


@media (prefers-color-scheme: dark) {
  .sectionHeaderImg {
    filter: invert(1) hue-rotate(180deg) saturate(2.2);
    mix-blend-mode: screen;
  }
  nav {
    mix-blend-mode: screen;
  }
  code {
    background: var(--interaction-background);
  }
  #gridDisplay {
    mix-blend-mode: screen;
  }
}

@media only screen and (max-width: 959px) {

  .sectionHeaderImg {
    max-width: initial;
    padding: 0;
    margin: 1rem auto;
  }

  #gridDisplay {
    padding: 0 1rem;
  }

  #gridDisplay .textColumn {
    margin: 0;
    transform: none;
  }
  #gridDisplay .marginalColumn {
    left: initial;
    right: 1rem;
  }
  #gridDisplay .maxWidthColumn {
    transform: none;
    left: initial;
    width: calc( 100% - 2rem );
  }

  .footnotes {
    left: initial;
    right: 1rem;
  }

  nav {
    display: none;
  }
}

@media only screen and (max-width: 719px) {
  /* Change values over here */

  section .content,
  footer .content,
  footer .additionalContent,
  .sectionHeaderImg {
    max-width: initial;
    padding: 0;
  }

  section,
  footer,
  .footnotes {
    padding: 2rem 1rem;
  }

  .footnotes {
    position: relative;
    top: initial;
    height: auto;
    left: 0;
    width: auto;
  }
  .footnotes ol {
    padding-left: 1rem;
  }
  .footnotes ol li {
    top: auto !important;
    position: relative;
    margin-bottom: 0.5em;
  }
  .footnotes .footnoteBacklink {
    display: inline-block;
  }

  footer .footerWrapper {
    flex-direction: column;
  }
  footer .content {
    margin-bottom: 2rem;
  }

  #gridDisplay .textColumn {
    display: none;
  }
  #gridDisplay .marginalColumn {
    display: none;
  }
  #gridDisplay .maxWidthColumn {
    width: calc( 100vw - 2rem );
  }

}
