* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family);

  color: var(--color-font);
  background: var(--color-bg);

  font-size: 18px;
  line-height: 1.6;
}

a {
  color: var(--color-highlight);
}
a:hover {
  text-decoration: none;
}

b {
  font-weight: 600;
}

/* Navigation */

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: opacity 0.5s;
}
nav.isHidden {
  opacity: 0;
  pointer-events: none;
}

nav li {
  margin: 0;
  padding: 0;
}
nav li.isCurrent {
  font-weight: bold;
}
nav li.isPast {
  opacity: 0.3;
}
nav li a {
  display: inline-block;
  font-size: 13px;
  padding: 4px 0;

  color: transparent;
  transition: color 0.3s;
  text-decoration: none;
}
nav:hover li a {
  color: var(--color-font);
}
nav li:hover {
  opacity: 1;
}
nav li a:hover {
  color: var(--color-highlight);
}
nav li a:hover:before  {
  background: var(--color-highlight);
}
nav li a:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  vertical-align: 3px;
  background: var(--color-font-light);
  transition: background 0.3s;
  margin-right: 3px;
}
nav li.isCurrent a:before {
  background: var(--color-highlight);
}

nav li.H2 {
  text-transform: uppercase;
}
nav li.H3 a:before {
  width: 20px;
}

/* ————————————— */

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h3 {
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: .5rem;
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin-bottom: 1em;
}
p {
  margin-bottom: 1rem;
}

#wrapper {

}


section,
footer {
  width: 100%;
  padding: 100px 1rem;
}

footer {
  background: #fafafa;
  font-size: 13px;
}
footer a {
  color: inherit;
}

#sourceList {
  list-style: decimal-leading-zero;
  padding-left: 2.5em;
}
#sourceList li::marker {
  font-family: var(--font-family-mono);
}

section .content {
  max-width: var(--max-width-text);
  margin: 0 auto;
}



.interaction-placeholder {
  height: 400px;
  margin: 3rem auto 1rem auto;
  background: #00000011;
}
.interactionDescription {
  color: var(--color-font-light);
  font-size: 15px;
}


