:root {

  /* fonts */
  --font-family:  'IBM Plex Sans', sans-serif;
  --font-family-mono:  'IBM Plex Mono', monospace;

  /* colors */
  --color-white: #FFF;
  --color-black: #131313;

  --color-highlight: #5158F6;
  --color-highlight-dark: #3A41D3;

  --color-yellow: #FFD542;
  --color-yellow-dark: #E9B80A;
  --color-green: #53F694;
  --color-red: #F65151;

  --color-gray-dark: #27283B;
  --color-gray-med: #3C3E5B;

  --shadow-color: #27283B11;

  --color-font: var(--color-black);
  --color-font-light: #B6B8D8;
  --color-font-med: #A7AACF;
  --color-font-footer: #8285A5;

  --color-bg: var(--color-white);
  --color-bg-light: #DCDDEB;
  --interaction-background: #F5F5FA;


  /* sizes */
  --marginal-column-width: 220px;
  --marginal-column-margin: 2rem;
  --max-width-text: 640px;

  --max-width: calc( var(--marginal-column-width) + var(--marginal-column-margin) + var(--max-width-text) );


  /* interactions */
  --shadow: 0px 3px 10px var(--shadow-color);

  --border-radius-big: 6px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-font:        #D8D8DC;
    --color-font-light:  #646772;
    --color-font-med:    #4C505E;
    --color-font-footer: #838694;

    --color-bg:          #232429;
    --color-bg-light:    #4E5260;
    --interaction-background: #363841;

    --shadow-color: #23242955;
  }
}


@media only screen and (max-width: 959px) {

  :root {
    --marginal-column-width: calc( 30% - var(--marginal-column-margin) );
    --max-width-text: 70%;
    --max-width: 100%;
  }
}
