:root {

  /* fonts */
  --font-family:  'IBM Plex Sans', sans-serif;
  --font-family-mono:  'IBM Plex Mono', monospace;

  --color-white: #FFF;
  --color-black: #131313;

  --color-highlight: #5158F6;
  --color-highlight-dark: #3A41D3;

  --color-yellow: #FFD542;
  --color-yellow-dark: #E9B80A;
  --color-green: #53F694;
  --color-red: #F65151;

  --color-gray-dark: #27283B;
  --color-gray-med: #3C3E5B;

  --color-font: var(--color-black);
  --color-font-light: #C8CAE1;
  --color-font-med: #A7AACF;

  --color-bg: var(--color-white);
  --color-bg-light: #DCDDEB;
  --interaction-background: #F5F5FA;


  --marginal-column-width: 220px;
  --marginal-column-margin: 2rem;
  --max-width-text: 640px;

  --max-width: calc( var(--marginal-column-width) + var(--marginal-column-margin) + var(--max-width-text) );

}

/*@media (prefers-color-scheme: dark) {
  :root {
    --color-font:        #eee;

    --color-bg:          #232429;
    --color-highlight:   #f0f;
  }
}*/


@media only screen and (max-width: 959px) {

  :root {
    --marginal-column-width: calc( 30% - var(--marginal-column-margin) );
    --max-width-text: 70%;
    --max-width: 100%;
  }
}
